/* You can add global styles to this file, and also import other style files */

/* #region GENERAL ELEMENTS */
* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

main {
  padding: 1rem;
  box-sizing: border-box;
}

li {
  list-style: none;
}
/* #endregion GENERAL ELEMENTS */

#pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 2rem;
  justify-content: center;
}

.pokemonContainer {
  min-height: 200px;
  width: 360px;
  padding: 10px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.444);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.pokemonContainer > div:nth-of-type(1) {
  height: 100%;
  width: 60%;
  align-self: center;
}

.pokemonContainer > div:nth-of-type(1) > img {
  height: 100%;
}

.pokemonContainer > div:nth-of-type(2) {
  width: 40%;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
